Health
{
    position: absolute;
    left: 100px;
    bottom: 50px;
    font-size: 36px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;

    height: 80px;
    padding: 0 15px;
    border-radius: 3px;
    color: #f1b430;
    background-color: rgba(#704603, 1);
    mix-blend-mode: lighten;
    border: 1px solid rgba(#f1b430, 0.5);
}

.health-bar-grey
{
    // bottom: -20%;
    height: 40px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: all 0.1s ease-in;
    background-color: #111;
}

.health-bar
{
    // bottom: -20%;
    height: 40px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    transition: all 0.1s ease-in;
}