@import "_crosshair.scss";
@import "_inventory.scss";
@import "_ammo.scss";
@import "_health.scss";
@import "_killfeed.scss";
@import "_scoreboard.scss";

RootHud
{
    background-color: rgba(#333, 0);
    transition: background-color 0.2s ease-in;
    transform-origin: 50% 50%;

    &.devcamera
    {
        display: none;
    }
}

.dd_pistol .icon
{
    background-image: url("/ui/weapons/dd_pistol.png");
}

.dd_shotgun .icon
{
    background-image: url("/ui/weapons/dd_shotgun.png");
}

.dd_smg .icon
{
    background-image: url("/ui/weapons/dd_smg.png");
}

.inventory
{
    background-color: rgba(#ffc20a, .05);
    padding: 16px;
    color: #ffff0a;
}

.bottom-left
{
    left: 70px;
}

.bottom-right
{
    right: 200px;
}

.bottom-left, .bottom-right
{
    mix-blend-mode: lighten;
    position: absolute;
    bottom: 100px;
}

iconpanel
{
    font-family: "Material Icons";
}

.top-middle
{
    top: 10px;
    width: 100%;
    justify-content: center;
}

gamehud
{
    position: absolute;
    background-color: rgba(#704603, 1);
    padding: 16px;
    margin: 5px;
    font-size: 32px;
    font-weight: bolder;
    color: #f1b430;
    text-shadow: #333;
    text-align: center;
    align-items: center;
    font-family: Roboto;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
    // width: 50%;
    // height: 80px;
    min-height: 7%;
    height: 7%;
    mix-blend-mode: lighten;
    border-radius: 3px;
    border: 1px solid rgba(#f1b430, 0.5);

    .game-state
    {
        font-size: 12px;
        font-weight: bolder;
        text-transform: uppercase;
        text-decoration: underline;
    }

    .game-timer
    {
        font-size: 32px;
    }
}