@import "_crosshair.scss";
@import "_inventory.scss";
@import "_ammo.scss";
@import "_health.scss";
@import "_killfeed.scss";

RootHud
{
    background-color: rgba(#333, 0);
    transition: background-color 0.2s ease-in;
    transform-origin: 50% 50%;

    &.devcamera
    {
        display: none;
    }
}

.dd_pistol .icon
{
    background-image: url("/ui/weapons/dd_pistol.png");
}

.dd_shotgun .icon
{
    background-image: url("/ui/weapons/dd_shotgun.png");
}

.dd_smg .icon
{
    background-image: url("/ui/weapons/dd_smg.png");
}

.inventory
{
    background-color: rgba(#ffc20a, .05);
    padding: 16px;
    color: #ffff0a;
}

.bottom-left
{
    left: 70px;
}

.bottom-right
{
    right: 200px;
}

.bottom-left, .bottom-right
{
    mix-blend-mode: lighten;
    position: absolute;
    bottom: 100px;
}

iconpanel
{
    font-family: "Material Icons";
}